<% provide(:title, "Настройка пользователя") %>
<% provide(:button_text, "Сохранить изменения") %>
<h1>Обновление вашего профиля</h1>

<div class="row">
    <div>
       <%= render 'form' %>
    </div>
</div>
