<aside>
    <div class="menu">
        <% if logged_in? %>
            <div class="row">
                <%= link_to  yield(:title_link), yield(:link) %>
            </div>
        <% end %>
    </div>
    <div class="menu"></div>
</aside>