<div id="create-post">
    <ul>
        <li>1. Уважайте людей</li>
        <li>2. Ведите себя так, как в реальной жизни</li>
        <li>3. Прочитайте правила сообщества</li>
    </ul>
    <%= link_to 'Создать пост', '/submit_post' %>
</div>