<% if current_page?(controller: 'microposts', action: 'index') %>
    <%= link_to tag.name, tag, class: "tag", remote: true %>
<% else %>
    <!-- <li class="tag" id="<%= tag.id %>"><%= tag.name %></li> -->
    <%= link_to tag.name, tag, class: "tag", id: tag.id %>
<% end %>


