<% provide(:title, "Главная") %>

<div>
    <div id="common-info">
        <div id="weather-info">
            Weather
        </div>
        <div id="railway-info">
            Railway
        </div>
        <div id="other-info">
            Other
        </div>
    </div>
    <hr>
    <div id="news-container">
        <%= render @news_items %>
    </div>
    <hr>
    <div id="container">
        <div>
            <%= render @microposts %>
        </div>
    </div> 
</div>
