<% provide(:title, "Главная") %>

<div>
    <h1>Общая инфа</h1>
    <hr>
    <h1>Пару топовых новостей</h1>
    <hr>
    <div id="container">
        <div class="middle">
            <%= render @microposts %>
        </div>
    </div> 
</div>
