<% provide(:title, "Welcome") %>
<div class="container">
    <div class="middle">
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
    </div>
    <%= render "shared/aside" %>
</div>