<% provide(:title, "Редактирование поста") %>
<% provide(:button_text, "Сохранить изменения") %>

<div class="container">
    <div class="middle-micropost">
        <%= render partial: "form" %>
    </div>
    <%= render "shared/aside" %>
</div>


