<% provide(:title, "Посты") %>
<% provide(:title_link, "Создать пост") %>
<% provide(:link, "/submit_post") %>

<div id="view-microposts-container">
    <div id="microposts-container">
        <%= render @microposts %>
    </div>
    <%= render "shared/create_post" %>
</div>
