<% provide(:title, "Посты") %>
<% provide(:title_link, "Создать пост") %>
<% provide(:link, "/submit_post") %>

<div class="container">
    <div class="middle">
        <%= render @microposts %>
    </div>
    <%= render "shared/aside" %>
</div>
