<% provide(:title, "Посты") %>
<% provide(:title_link, "Создать пост") %>
<% provide(:link, "/submit_post") %>

<div id="view-microposts-container">
    <div class="microposts-container">
        <%= render @microposts %>
    </div>
    <div id="aside-container">
        <%= render "shared/create_post" %>
        <div id="tags-container">
            <%= render partial: 'shared/tag', collection: @tags %>
        </div>
    </div>
</div>
