<% provide(:title, "Создание поста") %>
<% provide(:button_text, "Запостить") %>

<div class="container">
    <div class="middle-micropost">
        <%= render partial: "form" %>
    </div>
    <%= render "shared/aside" %>
</div>
