<% provide(:title, "Создание поста") %>
<% provide(:button_text, "Запостить") %>

<div id="view-microposts-container">
    <div class="middle-micropost">
        <%= render partial: "form" %>
    </div>
</div>
