/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//Global

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(226, 231, 235);
    header {
        nav {
            display: flex;
            flex-direction: row;
            background-color: white;
            align-items: center;
            height: 3em;
            a {
                padding: 0.5em;
                color: rgb(22, 22, 22);
            }
            h1{
                margin-left: 1em;
                margin-right: 1em;
            }
            #common-nav {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 19em;
                margin: auto;
                margin-left: 0;
                border-left: 1px solid rgb(202, 202, 202);
                height: 2em;
            }
            #closed {
                display: none; 
            }
            #opened {
                position: absolute;
                margin-right: auto;
                margin-top: 2.5em;
                background-color:  rgb(42, 126, 190);
                border-radius: 4px;  
                width: 8em;
                a{
                    color: white;
                    font-size: 1.2em;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            #account-div{
                display: flex;
                align-content: center;
                align-items: center;
                flex-direction: column;
                margin-right: 3em;
                border: 1px solid #3293DB;
                border-radius: 4px;
                #account{
                    color: rgb(42, 126, 190);
                }
            }
            #signup-signin{
                display: flex;
                flex-direction: row;
                margin: 0;
                min-width: 10em;
                margin-right: 3em;
                #signup{
                    margin-right: 1em;
                    border: 1px solid #3293DB;
                    color: rgb(42, 126, 190);
                    border-radius: 4px;
                    flex: 1;
                }
                #signin{
                    background-color:#3293DB;
                    color: white;
                    border-radius: 4px;
                    min-width: 7em;
                    text-align: center;
                }
            }
        }
    }
    
    footer{
        h2 {
            text-align: center;
            font-size: 1em;
        }
    }
}
