@import 'vars';

aside{ 
    border: 0.15em solid $color-side;
    border-radius: 0.2em;
    height: 11em;
    margin-left: 2em;
    background-color: $color-micropost-background;
    flex: 1;
}

#create-post{
    @extend aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    a{
        background-color: $color-side;
        border-radius: 0.2em;
        padding: 0.3em;
        color: $color-side-text;
    }
}