aside{ 
    width: 21em;
    background-color: royalblue;
    margin: 1em 0.1em 0.1em 0.1em;
    .menu{
        border-radius: 0.3em;
        height: 10em;
        background-color: rgb(168, 168, 168);
        margin: 0.1em 0.1em 1em 0.1em;
    }
}