@import 'vars';

#view-microposts-container{
    @extend #container;
    flex-direction: row;
    justify-content: center;
}

#microposts-container{
    flex: 3.5;
}

.post{
    font-size: 1.3em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    border-radius: 0.2em;
    border: 0.11em solid $color-side;
    background-color: $color-micropost-background;
}

.post-poll{
    display: flex;
    flex-direction: column;
    background-color: $color-micrpost-aside-background;
    li{
        text-align: center;
        color: $color-micropost-aside-text;
    }
    width: 3em;
}

.post-content{
    display: flex;
    flex-direction: column;
    margin-left: 0.3em;
    width: 93%;
}

.micropost-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8em;
}

.micropost-info {
    font-size: 0.9em;
    align-self: flex-end;
    margin-top: 0.3em;
    color: $color-micropost-info;
    a{
        color: $color-micropost-info-user;
    }
}

.micropost-content{
    width: inherit;
    margin:0.7em;
}

.micropost-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.6em;
    margin: 0.1em;
    margin-bottom: 0.3em;
    width: 100%;
    a{
        margin-right: 0.5em;
        color: $color-micropost-options;
    }
}

#micropost-form{
    background-color: rgb(249, 251, 255);
    border: 0.15em solid $color-side;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#micropost-form-field{
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-top: 0;
}

#micropost-form-aside{
    background-color: $color-side;
}

.main-title{
    color: rgb(247, 247, 247);
    margin-left: 1em;
}

#micropost-textarea{
    margin-top: 1.2em;
    resize: none;
    height: 7em;
    font-size: 1.5em;
    padding: 0.5em;
}

#micropost-form-btn{
    border: 0.1em solid $color-side;
    background-color: $color-side;
    color: white;
    width: auto;
    font-size: 1.2em;
}

.tag-title {
    font-size: 1.15em;
}

