@import 'vars';

#view-microposts-container{
    @extend #container;
    flex-direction: row;
}

#microposts-container{
    flex: 3.5;
    
}

.post{
    font-size: 1.3em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    border-radius: 0.2em;
    border: 0.11em solid $color-side;
    background-color: $color-micropost-background;
}

.post-poll{
    display: flex;
    flex-direction: column;
    background-color: $color-side;
    li{
        text-align: center;
        color: $color-side-text;
    }
    width: 3em;
}

.post-content{
    display: flex;
    flex-direction: column;
    margin-left: 0.3em;
    width: 93%;
}

.micropost-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8em;
}

.micropost-info {
    font-size: 0.9em;
    align-self: flex-end;
    margin-top: 0.3em;
}

.micropost-content{
    width: inherit;
    margin:0.7em;
}

.micropost-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.6em;
    margin: 0.1em;
    margin-bottom: 0.3em;
    width: 100%;
    a{
        margin-right: 0.5em;
    }
}

