// Place all the styles related to the news_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_vars';

#news-container{
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 1em;
}

.news-item{
    margin: 0.5em;
    width: 20em;
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(249, 251, 255);
    border-radius: 4px;
  
    li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:100%;
    
    }
}

.news-item-title{
    background-color: $color-news-aside;
    padding: 0.5em;
    font-size: 1.3em;
    word-break: break-all;
}

.news-item-content{
    margin: 1em;
}

.news-item-timestamp{
    margin: 0.5em;
    font-size: 0.85em;
    color: rgb(105, 105, 105);
    align-self: flex-end;
}