@import '_vars';

div#tags-all {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center; 
    margin-top: 0.8em;
}

.tag-title {
    margin-right: 0.5em;
    color: $color-taglabel-text;
    margin: inherit;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

div#tags-post {
    @extend #tags-all;
}

#tags-add {
    display: flex;
    justify-content: flex-start;
    padding-top: 1em;
    align-content: center;
    border-top: 1px solid rgb(207, 207, 207);
}

.tag {
    border: 0.15em solid $color-tag-border;
    text-decoration: none; 
    border-radius: 3px;
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0.25em;
    color: $color-tag-text;
}

.tag-active {
    @extend .tag;
    background-color: rgb(56, 168, 56);
}

.tag-inactive {
    @extend .tag;
    background-color: rgb(192, 56, 56);
}