// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-profile-nav {
    border-top: 1px solid rgb(194, 194, 194);
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        background-color: white;
        margin: 0;
        margin-bottom: 1.5em;
        li{
            padding: 0.5em;
        }
        .user-profile-count-post{
            font-size: 1em;
            margin: 0;
            color:  rgb(50, 147, 219);
            border-left: 1px solid rgb(194, 194, 194);
            padding: 0.1em;
            padding-left: 0.5em;
        }
    } 
}
