<div id="layer-wrap">
    <div id="container-wrap">
    <div id="head-layer"><li class="close-layer">Закрыть</li></div>
        <div id="micropost-wrap">
            <% if @micropost_layer %>
                <%= render @micropost_layer %>
            <% end %>
        </div>
    </div>
</div>